
.image-text-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  
  /* Example of a continuous animation using keyframes */
  @keyframes slideText {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  /* Apply the animation to the overlay-text class */
  .overlay-text {
    animation: slideText 10s linear infinite;
  }